.user{
    width: 95%;
    height: 45px;
    /* border: 1px solid red; */
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px;
}
.user img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    /* padding: 3px; */
    object-fit: contain;
    background-color: #000000;
}

.user p{
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    /* border: 1px solid red; */
    transform: translateY(-4px);
}

.user.dark p{
    color: #F8F8F8;
}