.bars{
    display: flex;
}
.main-center{
    width: calc(80%  + 7px);
    height: calc(100vh - 78px);
    /* border: 1px solid red; */
    position: fixed;
    top: 78px;
    left: 20%;
    transform: translateX(-10px);
    background-color: #D7D7D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.main1{
    width: 48%;
    padding: 5px 20px;
    height: 100%;
    /* border: 1px solid red; */
    transform: translateX(27%);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.main2{
    width: 25%;
    height: 98%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}